@font-face {
    font-family: "boots and spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "boots and spurs", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

nav ul {
    padding: 0px;
}

nav li {
    display:inline-block;
}

header,
footer {
    background-color: #202020;
    color: white;

}

/* links */
a {
    text-decoration: none;
}



header a {
    color:white;
}

.cta-button {
    background-color: #bb0000;
    color: white;
    font-size: 1.5em;
}

.active {
    text-decoration: underline;
}

.reviews {
    background-color: #e8e8e8;
}

.featured-products {
    background-color: #fbfbfb;
}

.cta-button {
    background-color: #bb0000;
    color: white;
    font-size: 1.5em;
}

.cta-sale {
    background-color: green;
    color: white;
    font-size: 1.5em;
}

footer {
    text-align: center;
}

/* Home page */
.welcome {
  background-image: url("../images/home-header.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
}

.welcome img {
    border-radius: 100px;
}

.review img {
    border-radius: 50%;
}