@font-face {
    font-family: "boots and spurs";
    src: url("../fonts/BootsAndSpurs.ttf") format("truetype");
}

body{
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "boots and spurs", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
}

nav {
    margin-left: 25px;
}

nav ul {
    padding: 0px;
}

nav li {
    display:inline-block;
}

header,
footer {
    background-color: #202020;
    color: white;

}

/* links */
a {
    text-decoration: none;
}



header a {
    color:white;
    padding: 10px;
}

.cta-button {
    background-color: #bb0000;
    color: white;
    font-size: 1em;
    text-transform: uppercase;
    padding: 10px 80px;
    border-radius: 5px;
}

.active {
    text-decoration: underline;
}

.reviews {
    background-color: #e8e8e8;
}

.featured-products {
    background-color: #fbfbfb;
}

.cta-button {
    background-color: #bb0000;
    color: white;
    font-size: 0.8em;
    padding: 8px 30px ;
    border-radius: 5px
}

.cta-sale {
    background-color: green;
    color: white;
    font-size: 0.8em;
    padding: 8px 30px ;
    border-radius: 5px
}

footer {
    text-align: center;
}

/* Home page */
.welcome {
  background-image: url("../images/home-header.jpg");  
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  min-height: 70vh;
  position: relative;
}

.welcome_content {
    position: absolute;
    text-align: center;
    top: 100px;
    left: 100px;
}

.selling.points {
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
}

.welcome.img {
    border-radius: 100px;
}

.review.img {
    border-radius: 50%;
}